{% extends "account/base.html" %}

{% block heading %}
<!-- Heading -->
<div class="card mb-4 wow fadeIn">

  <!--Card content-->
  <div class="card-body d-sm-flex justify-content-between">

    <h4 class="mb-2 mb-sm-0 pt-1">
      Balance funds : {{ balance }}
    </h4>
  </div>

</div>
<!-- Heading -->

{% endblock %}

{% block content %}

<!--Grid column-->
<div class="col-lg-6 col-md-6 mb-4">

  <!--Card-->
  <div class="card">

    <!-- Card header -->
    <div class="card-header text-center">Overall Funding</div>

    <!--Card content-->
    <div class="card-body">

      <canvas id="lineChart"></canvas>

    </div>

  </div>
  <!--/.Card-->

</div>
<!--Grid column-->

<!--Grid column-->
<div class="col-lg-6 col-md-6 mb-4">

  <!--Card-->
  <div class="card">

    <!-- Card header -->
    <div class="card-header text-center">
      Expenditure Analysis
    </div>

    <!--Card content-->
    <div class="card-body">

      <canvas id="labelChart"></canvas>

    </div>

  </div>
  <!--/.Card-->

</div>
<!--Grid column-->

<!--Grid column-->
<div class="col-lg-6 col-md-6 mb-4">

  <!--Card-->
  <div class="card">

    <!-- Card header -->
    <div class="card-header text-center">Geographical Analysis</div>

    <!--Card content-->
    <div class="card-body">
        <div id="myMap" style="position:relative;width:100%;min-width:290px;height:600px;"></div>
    </div>

  </div>
  <!--/.Card-->

</div>
<!--Grid column-->

<!--Grid column-->
<div class="col-lg-6 col-md-6 mb-4">

  <!--Card-->
  <div class="card">

    <!-- Card header -->
    <div class="card-header text-center">
      Top Corporate donors
    </div>

    <!--Card content-->
    <div class="card-body">

      <canvas id="barChart"></canvas>

    </div>

  </div>
  <!--/.Card-->

</div>
<!--Grid column-->


{% endblock %}

{% block scriptfile %}
<script type="text/javascript">
  //line
  var ctxL = document.getElementById("lineChart").getContext('2d');
  var myLineChart = new Chart(ctxL, {
    type: 'line',
    data: {
      labels: {{ labels | safe }},
      datasets: [{
        label: "CC received in 2019",
        backgroundColor: [
          'rgba(105, 0, 132, .2)',
        ],
        borderColor: [
          'rgba(200, 99, 132, .7)',
        ],
        borderWidth: 2,
        data: {{ values }},
      },
      {
        label: "CC received in 2020",
        data: [28, 48, 40, 19, 86, 27, 90],
        backgroundColor: [
        'rgba(0, 137, 132, .2)',
        ],
        borderColor: [
        'rgba(0, 10, 130, .7)',
        ],
        borderWidth: 2
      }]
    },
    options: {
      responsive: true
    }
  });

  //pie
  var ctxP = document.getElementById("labelChart").getContext('2d');
  var myPieChart = new Chart(ctxP, {
    plugins: [ChartDataLabels],
    type: 'pie',
    data: {
      labels: ["Publicity (non-print)", "Transport", "Events", "Print Ads"],
      datasets: [{
        data: [210, 130, 120, 160],
        backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1"],
        hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5",]
      }]
    },
    options: {
      responsive: true,
      legend: {
        position: 'right',
        labels: {
          padding: 20,
          boxWidth: 10
        }
      },
      plugins: {
        datalabels: {
          formatter: (value, ctx) => {
            let sum = 0;
            let dataArr = ctx.chart.data.datasets[0].data;
            dataArr.map(data => {
              sum += data;
            });
            let percentage = (value * 100 / sum).toFixed(2) + "%";
            return percentage;
          },
          color: 'white',
          labels: {
            title: {
              font: {
                size: '16'
              }
            }
          }
        }
      }
    }
  });

  //bar
  var ctxB = document.getElementById("barChart").getContext('2d');
  var myBarChart = new Chart(ctxB, {
    type: 'bar',
    data: {
      labels: ["Reliance", "Airtel", "Tata", "Rajesh Exports", "Coal India", "ICICI Banking"],
      datasets: [{
        label: 'Funds (in CC)',
        data: [12, 19, 3, 5, 2, 3],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
var map, datasource;

//GeoJSON feed of all earthquakes from the past 30 days. Sourced from the USGS.
var earthquakeFeed = '../static/map_data/GeoObs888.json';

//Find more earthquake data feeds here: https://earthquake.usgs.gov/earthquakes/feed/v1.0/geojson.php

function GetMap() {
    //Initialize a map instance.
    map = new atlas.Map('myMap', {
        center: [78.962, 20.593],
        zoom: 3.8,
        style: 'satellite_road_labels', 
        view: 'Unified',

//Add your Azure Maps subscription key to the map SDK. Get an Azure Maps key at https://azure.com/maps
        authOptions: {
            authType: 'subscriptionKey',
            subscriptionKey: 'WrI9HL-P9iIvjjVbZkZsuGdVHzxu_MayZ9r3zg1_X1s'
        }
    }); 

    //Wait until the map resources are ready.
    map.events.add('ready', function () {

        //Create a data source and add it to the map.
        datasource = new atlas.source.DataSource(null, {
            //Tell the data source to cluster point data.
            cluster: true,

            //The radius in pixels to cluster points together.
            clusterRadius: 45,

            //The maximium zoom level in which clustering occurs.
            //If you zoom in more than this, all points are rendered as symbols.
            clusterMaxZoom: 15 
        });
        map.sources.add(datasource);
        
        //Create a bubble layer for rendering clustered data points.
        var clusterBubbleLayer = new atlas.layer.BubbleLayer(datasource, null, {
            //Scale the size of the clustered bubble based on the number of points inthe cluster.
            radius: [
                'step',
                ['get', 'point_count'],
                20,         //Default of 20 pixel radius.
                100, 30,    //If point_count >= 100, radius is 30 pixels.
                750, 40     //If point_count >= 750, radius is 40 pixels.
            ],

            //Change the color of the cluster based on the value on the point_cluster property of the cluster.
            color: [
                'step',
                ['get', 'point_count'],
                'rgba(0,255,0,0.8)',            //Default to green. 
                100, 'rgba(255,255,0,0.8)',     //If the point_count >= 100, color is yellow.
                750, 'rgba(255,0,0,0.8)'        //If the point_count >= 100, color is red.
            ],
            strokeWidth: 0,
            filter: ['has', 'point_count'] //Only rendered data points which have a point_count property, which clusters do.
        });

        map.layers.add(new atlas.layer.HeatMapLayer(datasource, null, {
          radius: 10,
          opacity: 0.8
        }), 'labels');

        //Add a click event to the layer so we can zoom in when a user clicks a cluster.
        map.events.add('click', clusterBubbleLayer, clusterClicked);

        //Add mouse events to change the mouse cursor when hovering over a cluster.
        map.events.add('mouseenter', clusterBubbleLayer, function () {
            map.getCanvas().style.cursor = 'pointer';
        });

        map.events.add('mouseleave', clusterBubbleLayer, function () {
            map.getCanvas().style.cursor = '';
        });

        //Add the clusterBubbleLayer and two additional layers to the map.
        map.layers.add([
            clusterBubbleLayer,

            //Create a symbol layer to render the count of locations in a cluster.
            new atlas.layer.SymbolLayer(datasource, null, {
                iconOptions: {
                    image: 'none' //Hide the icon image.
                },
                textOptions: {
                    textField: ['get' , 'point_count_abbreviated'],
                    offset: [0, 0.4]
                }
            }),

            //Create a layer to render the individual locations.
            new atlas.layer.SymbolLayer(datasource, null, {
                filter: ['!', ['has', 'point_count']] //Filter out clustered points from this layer.
            })
        ]);

        //Retrieve a GeoJSON data set and add it to the data source. 
        datasource.importDataFromUrl(earthquakeFeed);
    });
}

function clusterClicked(e) {
    if (e && e.shapes && e.shapes.length > 0 && e.shapes[0].properties.cluster) {
        //Get the clustered point from the event.
        var cluster = e.shapes[0];

        //Get the cluster expansion zoom level. This is the zoom level at which the cluster starts to break apart.
        datasource.getClusterExpansionZoom(cluster.properties.cluster_id).then(function (zoom) {

            //Update the map camera to be centered over the cluster. 
            map.setCamera({
                center: cluster.geometry.coordinates,
                zoom: zoom,
                type: 'ease',
                duration: 200
            });
        });
    }
}
</script>
{% endblock %}
