{% extends "account/base.html" %}

{% block content %}
  <!--Grid column-->
  <div class="col-md-4 offset-md-4">

  <div class="card">

    <!--Grid column-->
    <div class="col-md-12 mb-4">

      <form class="text-center border-light p-5" action="" id="DepositForm" data-vendor-url="{% url 'ajax_load_vendor' %}" onsubmit="payVendor()">

        <p class="h4 mb-4">Pay Vendor</p>

        <!-- User ID -->
        <input type="receiverid" id="defaultLoginFormEmail" class="form-control mb-4" value = "{{party.address}}" disabled>

        <!-- Vendor category -->
        <select name="vendor_cat" id="id_vendortype">
          <option value="" id="id_vendortype">---------</option>
          {% for type in vendor_types %}
            <option value="{{ type.pk }}">{{ type.name }}</option>
          {% endfor %}
        </select>

        <select name="vendors" id="id_vendor">
          <option value="" id="id_vendornone">---------</option>
        </select>

        <!-- Fund Value -->
        <input type="value" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="value">

        <button class="btn btn-info btn-block my-4" type="submit" >Pay Vendor</button>

      </form>

    </div>

  </div>
  <!--Grid column-->
  </div>

{% endblock %}

{% block scriptfile %}

<script>
    $("#id_vendortype").change(function () {
      var url = $("#DepositForm").attr("data-vendor-url");
      var vendor_type = $(this).val();

      $.ajax({
        url: url,
        data: {
          'vendor_type': vendor_type
        },
        success: function (data) {
          $("#id_vendor").html(data);
        }
      });

    });
  </script>

{% endblock %}
