{% extends "account/base.html" %}

{% block content %}
<!--Grid row-->
<div class="row wow fadeIn">

  <!--Grid column-->
  <div class="col-md-12 mb-4">
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="th-sm">Sender ID
          </th>
          <th class="th-sm">Amount
          </th>
          <th class="th-sm">Time Stamp
          </th>
          <th class="th-sm">Block Hash
          </th>
        </tr>
      </thead>
      <tbody>
        {% for t in transactions %}

        <tr>
          <td>
            {{ t.sender }}
          </td>

          <td>
            {{ t.amount }}
          </td>

          <td>
            {{ t.timestamp }}
          </td>

          <td>
            {{ t.whatever }}
          </td>
        </tr>

        {% endfor %}

      </tbody>

    </table>

  </div>
  <!--Grid column-->
</div>
<!--Grid row-->
{% endblock %}
