{% extends "account/base.html" %}

{% block styles %}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}
{% endblock %}

{% block content %}


  <!--Grid column-->
  <div class="col-md-12 mb-4">
    <table id="dtBasicExample" class="table table-striped table-bordered table-hover table-sm" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="th-sm">Sender ID
          </th>
          <th class="th-sm">Amount
          </th>
          <th class="th-sm">Time Stamp
          </th>
          <th class="th-sm">Block Hash
          </th>
        </tr>
      </thead>
      <tbody>
        {% for t in transactions %}

        <tr>
          <td>
            {{ t.from }}
          </td>

          <td>
            {{ t.value }}
          </td>

          <td>
            {{ t.timeStamp }}
          </td>

          <td>
            {{ t.blockHash }}
          </td>
        </tr>

        {% endfor %}

      </tbody>

    </table>

  </div>
  <!--Grid column-->

{% endblock %}

{% block scripts %}

  $(document).ready(function() {
    $('#dtBasicExample').DataTable({
      "scrollX": true,
      "searching": true
    });
    $('.dataTables_length').addClass('bs-select');
  });

{% endblock %}
