{% extends "home/base.html" %}

{% block content %}
<!--Section: Jumbotron-->
<section class="card bg wow fadeIn" id="intro">

  <!-- Content -->
  <div class="card-body text-white text-center py-5 px-5 my-5">

    <h1 class="mb-4">
      <h1 class="display-3"><i class="fas fa-search-dollar"></i> True Funder</h1>
    </h1>
    <p>
      <h4 class="display-5">An end-to-end blockchain based system for election funding analytics</h4>
    </p>
    <p class="mb-4">
      <h4 class="display-5">Developed for CodeFunDo 2019</h4>
    </p>
    <p class="mb-4">
      <h4 class="display-5">Team name: Greenticks</h4>
    </p>
  </div>
  <!-- Content -->
</section>
<!--Section: Jumbotron-->

<hr class="my-5">

<!--Section: Cards-->
<section class="text-center">
{% for p in all_parties %}

  {% if p.pk|divisibleby:'2' is not True %}
    <!--Grid row-->
    <div class="row mb-4 wow fadeIn">
  {% endif %}

    <!--Grid column-->
    <div class="col-md-6 mb-4">

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img src="../static/img/party/{{ p.symbol }}" class="card-img-top"
            alt="{{p.name}}">
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">{{ p.name }}</h4>
          <a href="profile/{{ p.pk }}"
            class="btn btn-primary btn-md">View party
            <i class="fas fa-play ml-2"></i>
          </a>
        </div>

      </div>
      <!--/.Card-->

    </div>
    <!--Grid column-->

    {% if p.pk|divisibleby:'2' is True %}
      </div>
      <!--Grid row-->
    {% endif %}

{% endfor %}

</section>
<!--Section: Cards-->
{% endblock %}
